<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home - Shopme Admin Panel</title>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>


	<div class="container-fluid">
		<div>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<!-- logo -->
				<a class="navbar-brand" href="#">
					<img alt="ShopmeBrand" th:src="@{/images/ShopmeAdminSmall.png}">
				</a>
				
				<!-- toggle button - responsive -->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarText" aria-controls="navbarText"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="@{/users}">User
						</a></li>
						<li class="nav-item"><a class="nav-link" href="@{/users}">Category</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="@{/users}">Brands</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="@{/users}">Products
						</a></li>
					</ul>
					<span class="navbar-text"> User Account </span>
				</div>
			</nav>
		</div>


		<div>
			<h1>Manage Users</h1>
		</div>
		
		<div>
			<table class="table table-responsive-xl table-striped table-hover table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>User ID</th>
						<th>Photo</th>
						<th>Email</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Roles</th>
						<th>Enable</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td>[[${user.id}]]</td>
						<td>[[${user.photos}]]</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>		
						<td>[[${user.roles}]]</td>				
						<td>[[${user.enabled}]]</td>						
						<td>Update / Delete</td>	
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>